/**
 * About
 */


.About {
	margin: 40px 0;
}

.AboutCover {
	position: relative;
  margin: 0 auto;
}

.AboutCover-image {
	position: relative;
	display: block;
	left: -70px;
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.AboutCover-title {
	position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 50px;
  color: white;
  height: 110px;
	width: 50%;
	max-width: 500px;

	@media (min-width: $layout-m) {
		width: 80%;
	}
}

.AboutCover-svgPath {
	stroke-width: 5px;
	stroke: $color-primary;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.About-content {
	width: 90%;
	max-width: 900px;
	margin: 40px auto;
	text-align: center;

	svg {
		width: 30px;
		margin-top: 15px;
	}
}

.dummy-img {
	background: $color-primary;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
}
