/**
 * Detail Grid
 */

.DetailGrid {
	width: 100%;
	display: flex;
	margin: rem(15) auto;


	&--inline {
		display: inline-block;
		width: 30%;
	}

	&--travel {
		margin: rem(20) auto;
	}

	&.is-first {
		width: 70%;

		.DetailGrid-item--text {
			@media (min-width: 640px) {
				padding-left: rem(0);
			}
		}

		@media (min-width: 980px) {
			width: 70%;
		}

	}

	&--third.is-first,
	&--second.is-first {
		@media (min-width: 640px) and (max-width: 980px) {
			flex-wrap: wrap;

			.DetailGrid-item {
				flex: 25%;
				margin-top: rem(15);
			}
			.DetailGrid-item:first-of-type {
				flex: 100%;
				margin-top: 0;
			}
		}
	}

	@media (max-width: 640px) {
		display: block;
		width: 100% !important;
		margin: 0;
	}
}

.DetailGrid--first {

	&.is-reverse {
		.DetailGrid-item:last-of-type {
			order: -1;
		}
	}

	&.is-portrait {
		.DetailGrid-item--text {
			flex: 65%;
		}
		.DetailGrid-item--media {
			flex: 35%;
		}
	}

	&.is-landscape {
		.DetailGrid-item--text {
			flex: 35%;
		}
		.DetailGrid-item--media {
			flex: 65%;
		}

		@media (min-width: 640px) and (max-width: 980px) {
			.DetailGrid-item--text {
				flex: 50%;
			}
			.DetailGrid-item--media {
				flex: 50%;
			}
		}
	}

}

.DetailGrid--second {

	&.is-reverse {
		.DetailGrid-item:last-of-type {
			order: -1;
		}
	}

	&.is-center {
		.DetailGrid-item--text:nth-of-type(2) {
			order: 1;

			@media (min-width: 640px) {
				padding-left: rem(20);
			}
		}
	}

	&.is-bigger {
		.DetailGrid-item--text {
			flex: 50%;
		}
	}

}

.DetailGrid--third {

	.DetailGrid-item--media + .DetailGrid-item--media {
		margin-top: rem(15);

		@media (min-width: 640px) {
			margin-left: rem(20);
			margin-top: 0;
		}
	}

	&.is-reverse {
		.DetailGrid-item--text {
			order: 1;
		}
	}

	&.is-center {
		.DetailGrid-item--media:last-of-type {
			order: -1;
			margin-left: 0;
		}

	}

	&.is-bigger {
		.DetailGrid-item--text {
			flex: 50%;
		}

		.DetailGrid-item--media:last-of-type {
			flex: 50%;
		}

		@media (min-width: 640px) {
			.DetailGrid-item--media:first-of-type {
				flex: 90%;
			}

			.DetailGrid-item--text {
				flex: 60%;
			}
		}
	}
}


/* Items */

.DetailGrid-item {
	letter-spacing: 0.05em;
}

.DetailGrid-item--text {
	padding: 0 rem(20) 30px;

	@media (max-width: 980px) {
		p {
			font-size: 13px;
			line-height: 18px;
		}
	}

	@media (min-width: 640px) and (max-width: 980px) {
		padding: 0 rem(20);
	}

	@media (min-width: 980px) {
		padding: rem(20);
	}

	> * {
		margin-bottom: rem(20);
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.DetailGrid-item + .DetailGrid-item {
	@media (min-width: 640px) {
		padding-left: 0;
	}
}

.DetailGrid-item--media {
	position: relative;
	margin: 0 auto rem(20);

	@media (min-width: 640px) {
		margin: 0 auto;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.DetailText-title {
	width: rem(70);
	padding-bottom: rem(10);
	margin-bottom: rem(15);
	border-bottom: 6px solid;
}
