/**
 * Footer
 */

.Footer {
	padding: 10px 20px 20px;

	span {
		font-size: 10px;
		margin-right: 10px;

		a {
			border-bottom: 2px solid;
			display: inline-block;
			width: 32px;
			font-style: italic;
			margin: 20px auto 0;

			&:hover {
				color: $yellow;
			}
		}
	}
}

#infinite-footer {
	display: none;
}
