.Grid {
	display: flex;
	flex-flow: row wrap;

	&--row {
		flex-flow: row;
	}
}

.Grid--margin {
	padding: 0 ($space) ($space);
	margin-top: -($space);
	.Grid-cell {
		margin: ($space);
	}
}

.Grid-cell {
	flex: 1 100%;

	&.is-first {
		clear: both;
		overflow: hidden;
	}
}
.Grid-cell--full {
	@media (min-width: 656px) {
		flex: 1 100%;
	}
}
.Grid-cell--1 {
	@media (min-width: 656px) {
		flex: 1;
	}
}
.Grid-cell--2 {
	@media (min-width: 656px) {
		flex: 2;
	}
}
.Grid-cell--3 {
	@media (min-width: 656px) {
		flex: 3;
	}
}

.u-last {
	clear: both;
}

// Make sure wrapper links are block
.Grid-item > a {
	display: block;
}

.Grid--full .Grid-item {
	margin-right: 0;
	margin-bottom: 0;
}
