/**
 * Header
 */

.Header {
	max-width: 100%;
	z-index: 10;
	margin-top: 0;
	text-align: center;

	@media (min-width: 655px) {
		max-width: rem(1000);
		padding: 0 rem(10);
		margin: rem(20) auto rem(35);
	}
}

.Header-inner {
	position: relative;
	display: inline-block;
}


/**
 * MOBILE!!
 */

.Header-inner {
	.Logo {
		display: none;
	}

	.SearchForm {
		display: none;
	}

	// .NavItemFilter {
	// 	display: none;
	// }

	@media (max-width: 655px) {
		position: fixed;

		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;

		overflow-y: hidden;

		transform: translateX(-100%);
		transition: transform 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);

		z-index: 5;

		background-color: $white;

		.Logo {
			display: block;
		}


		.SearchForm {
			display: block;
		}


		.Nav-item {
			padding: rem(10) 0;
			border-bottom: 1px solid;
			width: 200px;
			margin: auto;
			padding-left: 11px;

			text-align: left;
			font-weight: 500;

			&:hover,
			&:active,
			&.is-active {
				color: $color-primary;
				border-color: black;
			}

		}

		.NavItemAbout {
			border: 0;
		}

		&.is-mobile {
			transform: translateX(0%);
		}
	}

}
.Header-title {
	display: block;
	margin: rem(40) 0;

	h1 {
		margin-bottom: 0.1em;
		font-size: $font-35;

		@media (min-width: $layout-m) {
			font-size: $font-40;
		}
		@media (min-width: $layout-ml) {
			font-size: 50px;
		}
	}

	h3 {
		@extend %font-sans-serif;
		font-size: $font-14;
		text-transform: lowercase;
	}
}
