/**
 * Imprint
 */

.Imprint {
	text-align: center;
	max-width: 900px;
	margin: auto;
	padding: 0 20px;

	h1 {
		margin: 20px 0;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	p {
		margin: 10px auto;
	}

	a {
		position: relative;
		display: inline-block;
		font-size: 13px;
		font-style: italic;

		&:hover {
			color: $color-primary;
		}

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			width: 100%;
			right: 0;
			left: 0;
			bottom: 0;
			border-bottom: 2px solid;
		}
	}
}
