html {
	min-height: 100%;
}

.App {
	overflow: hidden;
}

.App-main {
	> .liquid-container,
	> .liquid-container > .liquid-child {
		min-height: 100%;
	}
}

.Section {
	padding: 2em 0;
}

.is-hidden {
	display: none;
}

.centered {
	text-align: center;
	align-items: center;
}

.mobileOnly {
	@media (min-width: $layout-sm) {
		display: none !important;
	}
}

.desktopOnly {
	@media (max-width: $layout-sm) {
		display: none !important;
	}
}
