/**
 * Custom Search form
 */


.no-results {
    max-width: rem(580);
    margin: 20px auto;

    .page-title {
        font-size: 20px;
        text-transform: none;
        margin-bottom: 10px;
    }

    .search-form {
        display: none;
    }
}
