/**
 * Travel
 */

/* Travel Overview */

.TravelOverview {
	a:hover {
		.Cover::after {
			background-color: rgba($#FFFFFF, 0.2);
		}
	}
	.Grid-cell {
		flex: rem(250);
		@media (min-width: 928px) {
			flex: rem(400);
		}
	}
}


/* Travel Single  */

.SectionTravel {
	.DetailHead {
		padding-bottom: rem(15);
	}

	.DetailHead-body {
		padding: 0;
	}
}

.TravelCopy {
	max-width: rem(660);

	text-align: center;
}

.TravelCopy-title {
	@extend %font-light;
	letter-spacing: 0.1em;
	font-size: $font-20;
	margin-bottom: 20px;

	@media (min-width: $layout-s) {
		font-size: rem(30);
	}
	@media (min-width: $layout-ml) {
		font-size: $font-40;
	}
}

.TravelCopy-description {
	margin-bottom: 23px;
}

.TravelCopy-address {
	min-width: rem(250);
}

.TravelCopy-url {
	display: inline-block;
	margin-top: rem(20);
}

/* Intro */

.TravelDetail {
	@include flexRowWrap;
	padding-bottom: rem(3);
	margin-top: 3px;

	@media (min-width: 640px) {
		margin-top: 0;
	}

	&--reverse {
		flex-direction: row-reverse;
	}
}

.TravelDetail-body {
	padding: 0;
	margin: auto;

	order: 1;

	@media (min-width: 640px) {
		padding: rem(20) rem(0);
		order: initial;
	}

	p {
		@extend %font-light;
	}

	> .Box {
		padding: 0px 20px;
	}
}

.TravelDetail-cover {

	img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		height: 100%;
		padding: 0 1.25rem 30px;
	}

	&.is-reverse {
		order: -1;
	}

}


.TravelList {
	position: fixed;
	z-index: 11;

	bottom: 20px;
	left: 20px;
	padding: 0;
	margin: 0;

	background: #FFFFFF;

	// &.is-sticky {
	// 	position: fixed;
	// 	top: 0;
	// }

	&.is-active {
		.TravelList-head {
			background-color: #000000;
			color: #FFFFFF;

			cursor: default;
		}

		.TravelList-item {
			display: block;
		}
	}
}

.TravelList-wrap {
    border: 2px solid;
    width: auto;
    display: inline-block;
}

.TravelList-head {
	padding: 5px 10px;
	cursor: pointer;

	transition: all 0.15s ease;
}

.TravelList-item {
	display: none;
	border-bottom: 2px solid;
}

.TravelList-link {
	display: block;
	font-size: 15px;
	padding: 5px 10px;

	&:hover,
	&:active,
	&.is-active {
		color: $yellow;
	}
}
