/**
 * Travel list
 */

.TravelList {
	position: fixed;
	z-index: 20;

	bottom: 20px;
	left: 20px;
	padding: 0;
	margin: 0;

	background: #FFFFFF;

	transform: translateX(-140px);

	&.is-active {
		.TravelList-head {
			background-color: #000000;
			color: #FFFFFF;

			cursor: default;
		}

		.TravelList-item {
			display: block;
		}
	}
}

.TravelList-wrap {
  border: 1px solid;
  width: auto;
  display: inline-block;
}

.TravelList-head {
	padding: 5px 10px 7px 14px;
	font-weight: 400;
	cursor: pointer;

	transition: all 0.15s ease;

	.icon {
		vertical-align: inherit;
		margin-left: 5px;
	}
}

.TravelList-item {
	display: none;
	border-bottom: 1px solid;
}

.TravelList-link {
	display: block;
	font-size: 15px;
	padding: 5px 10px;

	&:hover,
	&:active,
	&.is-active {
		color: $color-primary;
	}
}
