/**
 * Travel
 */

/* Travel Overview */

.TravelOverview {

	a:hover {
		.Cover::after {
			background-color: rgba($#FFFFFF, 0.2);
		}
	}

	.Grid-cell {
		flex: rem(250);
		@media (min-width: 928px) {
			flex: rem(400);
		}
	}
}


/* Travel Single  */

.SectionTravel {
	.DetailHead {
		padding-bottom: rem(15);
	}

	.DetailHead-body {
		padding: 0;
	}
}

.TravelCopy {
	max-width: rem(660);

	text-align: center;
}

.TravelCopy-title {
	margin-bottom: 20px;
	letter-spacing: 0.1em;
	font-size: $font-20;
	text-transform: uppercase;

	@media (min-width: $layout-s) {
		font-size: rem(30);
	}
	@media (min-width: $layout-ml) {
		font-size: $font-40;
	}
}

.TravelCopy-description {
	margin-bottom: 23px;
}

.TravelCopy-address {
	min-width: rem(250);
}

.TravelCopy-url {
	display: inline-block;
	margin-top: rem(20);
}

/* Intro */

.TravelDetail {
	@include flexRowWrap;
	padding-bottom: rem(3);
	margin-top: 3px;

	@media (min-width: 640px) {
		margin-top: 0;
	}

	&--reverse {
		flex-direction: row-reverse;
	}
}

.TravelDetail-body {
	padding: 0;
	margin: auto;

	order: 1;

	@media (min-width: 640px) {
		padding: rem(20) rem(0);
		order: initial;
	}

	> .Box {
		padding: 0px 20px;
	}
}

.TravelDetail-cover {

	img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		height: 100%;
		// padding: 0 1.25rem 30px;
	}

	&.is-reverse {
		order: -1;
	}

}
