/**
 * Travel
 */

/* Travel Overview */

.TravelOverview {
	background: $white;
	padding: rem(30) 0;

}

.TravelOverview-item:hover {
	.Cover::after {
		background-color: rgba($white, 0.2);
	}
}


/* Travel Single  */

.SectionTravel {
	.DetailHead {
		padding-bottom: rem(15);
	}

	.DetailHead-body {
		padding: 0;
	}
}

.TravelCopy {
	max-width: rem(660);
	text-align: center;
}

.TravelCopy-title {
	margin-bottom: 20px;
	letter-spacing: 0.1em;
	font-size: $font-20;
	text-transform: uppercase;

	@media (min-width: $layout-s) {
		font-size: rem(30);
	}
	@media (min-width: $layout-ml) {
		font-size: $font-40;
	}
}

.TravelCopy-description {
	margin-bottom: 23px;
}

.TravelCopy-address {
	min-width: rem(250);
}

.TravelCopy-url {
	display: inline-block;
	margin-top: rem(20);
}

/* Intro */

.TravelDetail {
	padding-bottom: rem(3);
	margin-top: 3px;
	overflow: hidden;

	@media (min-width: 640px) {
		margin-top: 0;

		display: flex;

		> div {
			display: flex;
		}

	}

	&.is-reverse {
		display: flex;

		> div:last-of-type {
			order: -1;
		}
	}

}

.TravelDetail-body {
	padding: rem(30) rem(0);
	margin: auto;

	> .Box {
		padding: 0px 20px;
	}
}

.TravelDetail-cover {
	img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	&.is-reverse {
		display: flex;
		> div:last-of-type {
			order: -1;
		}
	}

}
