/**
 * Flex Mixins
 */

@mixin flexCol {
	display: flex;
	flex-direction: column;
}

@mixin flexRow {
	display: flex;
	flex-direction: row;
}

@mixin flexRowWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

@mixin flexColWrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.FlexRow {
	@include flexRow;
	justify-content: space-between;
}
