/**
 * Animations
 */

.js-animate {
	opacity: 0;
}

.js-animate-detail {
	opacity: 0;
}

.js-animate-alpha {
	opacity: 0;
}

.js-animate-city-title {
	opacity: 0;
}

.js-animate-city-country p {
	opacity: 0;
}
