.Burger {
	position: fixed;
	top: 0;
	left: 0;
	padding: rem(15);

	z-index: 11; // on top of .Aside

	text-transform: uppercase;
	font-size: $font-14;
	font-weight: 500;
	letter-spacing: 0.1em;

	border: 0;
	background: none;

	cursor: pointer;

	@media (min-width: 656px) {
		display: none;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

