/**
 * Scroll top button
 */

.Button-scrollTop {
	position: fixed;
	z-index: 2;
	width: 35px;
	height: 30px;
	border: 2px solid;
	right: -50px;
	bottom: 20px;
	padding: 0;

	background: white;
	text-align: center;

	svg {
		vertical-align: middle;
		margin: auto;
		display: block;
	}

	&:hover {
		background: black;

		svg {
			fill: white;
		}
	}
}
