/**
 * Scroll top button
 */

.Button-scrollTop,
.Button-footerNav .Button {
	width: 35px;
	height: 30px;
	border: 2px solid;
	padding: 0;

	background: white;
	text-align: center;

	svg {
		vertical-align: middle;
		margin: auto;
		display: block;
	}

	&:hover {
		background: black;

		svg {
			fill: white;
		}
	}
}

.Button-scrollTop,
.Button-footerNav {
	position: fixed;
	z-index: 2;
	bottom: 20px;
}

.Button-footerNav {
	width: 100%;
	left: -100px;
}

.Button-footerNav-next {
	svg {
		transform: rotate(180deg);
	}
}

.Button-scrollTop {
	right: -50px;

	svg {
		transform: rotate(-90deg);
	}
}

.Button-footerNav-title {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s easeInOut;

	position: absolute;
    left: 90px;
    bottom: 7px;
    right: 0;

    &.is-active {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s easeInOut;
}
