.Button {
	display: inline-block;
	color: $black;
	padding: .4em 1em .4em;
	letter-spacing: .1em;
	text-decoration: none;

	&:focus {
		outline: 0;
		box-shadow: 0;
	}

}

.NonBtn {
	background-color: transparent;
	border: 0;
	padding: 0;
	&:active,
	&:focus {
		outline: none;
	}
}

.Button--outline {
    padding: 8px 11px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14em;
    color: black;
    text-transform: uppercase;

	background-color: transparent;
    border: 1px solid #000;

	&:hover,
	&:active {
		color: #000 !important;
		background-color: white !important;
		border-color: white;
	}
}

.Button--invert {
	padding: 8px 11px;
	border: 2px solid black;
	font-weight: 500;

	background-color: $black;
	color: $white;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.17em;

	&:hover,
	&:active {
		color: $black !important;
		background-color: white !important;
	}
}
