/**
 * Cover
 */

.Cover {
	position: relative;
	height: rem(435);
	overflow: hidden;

	text-align: center;
	white-space: nowrap;


	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	@media (min-width: 640px) and (max-width: 980px) {
		height: rem(370);//40vh;
	}

	&--overlay {
		&:after {
			content: '';
			background-color: rgba(white, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: background-color 350ms $easing;
		}
	}

	&--small {
		@media (max-width: $layout-m) {
			height: rem(370);
		}
	}

	&--big {
		@media (min-width: $layout-ml) {
			height: 80vh;
		}
	}
}

.Cover-body {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: middle;

	padding: rem(40);
	background-color: white;
	text-align: center;

	h2 {
		letter-spacing: 0.1em;
		font-size: $font-20;
		margin-bottom: 0.2em;

		@media (min-width: $layout-m) {
			font-size: $font-35;
		}
		@media (min-width: $layout-ml) {
			font-size: $font-40;
		}
	}

	p {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-bottom: 0;
	}
}
