#big-video-wrap {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	img {
		object-fit: cover;
		height: 100% !important;
	}
	.vjs-loading-spinner {
		display: none !important;
	}
}
.Index {
	position: relative;
}

.Index-title {
	display: none;
	@media (min-width: $layout-s) {
		font-size: rem(20);
	}
	@media (min-width: $layout-m) {
		font-size: 2vw;
	}
	opacity: 0.8;
	position: absolute;
	right: 2rem;
	top: 2rem;
	z-index: 5;
}
.Index-body {
	@include h3;
	position: fixed;
	bottom: 40%;
	// left: $aside-width + 1rem; define new
	z-index: 5;
	// max-width: 20rem;
}
.Index-gallery {
	position: relative;
	.flickity-viewport {
		// @include ratio(16,9);
		// > img {
		// 	@include ratio-inner;
		// }
	}
}
.TeaserBox {
	text-align: center;
	a {
		font-size: $font-20;
		@extend %font-opensans-600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		display: block;
		padding: 0.7em 1em 0.95em;
		line-height: 1;
	}

	// + .TeaserBox {
	// 	background-image: url(images/moods/bg-poster-crop.jpg);

	// 	+ .TeaserBox {
	// 		background-image: url(images/moods/texture.jpg);
	// 		background-size: cover;
	// 	}
	// }
}
