.Logo {
	display: block;
	margin: 2em 0;

	@media (min-width: 656px) {
		margin: 0.5em 0 2em;
	}

	h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		margin-bottom: 0.1em;
	}

	h3 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		margin-bottom: 0;
	}
}
