.Logo {
	display: block;
	width: 80%;
	margin: 2.5em auto 2em;

	@media (min-width: 656px) {
		margin: 2.5em auto 2em;
	}

	h1 {
		@extend %font-sans-serif;
		font-weight: 500;
		margin-bottom: 0.1em;
	}

	h3 {
		@extend %font-sans-serif;
		font-weight: 300;
		margin-bottom: 0;
		font-size: 12px;
		letter-spacing: 0.6em;
	}
}
