/**
 * Navigation Social
 */

.NavSocial {
	&--desktop {
		display: none;
	}

	@media (min-width: $layout-sm) {
		display: block;
		position: absolute;

		width: 65px;

		top: 0;
		right: 0;

		padding-top: rem(15);
		padding-right: rem(15);

		width: 100px;
		left: 0;
		right: inherit;

		padding-top: rem(20);
		padding-left: rem(20);
	}
}

.NavSocial-item {
	display: inline-block;
	margin-right: rem(10);
	transition: all 0.25s ease-in-out;

	@media (min-width: $layout-sm) {
		float: initial;
	}

	svg {
		transition: fill 0.25s ease-in-out;
	}

	&:hover {
		svg {
			fill: $color-primary;
		}
	}

	&--invert {
		&:hover {
			// background-color: black;

			svg {
				// fill: white;
			}
		}
	}
}
