/**
 * Navigation Social
 */

.NavSocial {
	position: absolute;

	width: 65px;

	top: 0;
	right: 0;

	padding-top: rem(15);
	padding-right: rem(15);

	@media (min-width: 656px) {
		width: 100px;
		left: 0;
		right: inherit;

		padding-top: rem(20);
		padding-left: rem(20);
	}
}

.NavSocial-item {
	display: inline-block;
	float: right;
	margin-right: rem(10);
	transition: opacity 0.2s ease-in-out;

	@media (min-width: 656px) {
		float: left;
		margin: 0;
		padding: 4px 6px;
	}

	&:hover {
		opacity: 0.4;
	}
	// &:last-of-type {
	// 	margin-right: 10px;
	// }
}
