/**
 * Navigation
 */

.Nav {
	position: relative;
	padding-bottom: 0;

	@media (max-width: 656px) {
		padding-top: 0;
	}

	span {
		display: none;

		@media (min-width: 656px) {
			display: inline-block;
		}
	}

	a {
		position: relative;
		z-index: 21;
	}
}

.Nav-item {
	display: block;
	font-size: $font-14;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 0.1em;

	padding: 0.5em 0;
	margin: 0.5em 0;


	&:hover,
	&:active,
	&.is-active {
		color: $yellow;
		border-color: $yellow;
	}

	@media (min-width: 656px) {
		display: inline-block;
		margin: 0 rem(5);
		padding: 0;

		border-bottom: 2px solid transparent;

	}

	&:first-of-type {
		margin-top: 1.3em;
	}

}
