/**
 * Newsletter
 */


.Newsletter {
	max-width: rem(270);
	margin: 0 auto rem(40);

    @media (min-width: $layout-m) {
        width: 90%;
    }
}

.Newsletter-title {
	@extend %font-playfair;
	font-size: rem(28);

    @media (min-width: $layout-s) {
        font-size: $font-35
    }
}

.Newsletter-input {
    background: white;
    width: 100%
    margin: 15px auto 0;
    padding: 7px 8px;
    border: 1px solid;
    font-size: 11px;
    outline: 0;

    @media (min-width: $layout-m) {
        width: 49%;
    }
}

.Newsletter-submit {
    display: block !important;
	width: 50%;
    margin: 15px auto 0;
    @media (min-width: $layout-m) {
        width: 70%;
    }
}
