/**
 * Newsletter
 */

.Newsletter {
	max-width: rem(270);
	margin: 0 auto rem(40);

  @media (min-width: $layout-m) {
      width: 90%;
  }

	form {
		text-align: center;
	}

	::-webkit-input-placeholder {
	    color: white;
	}
}

.Newsletter-title {
	@extend %font-playfair;
	font-size: rem(28);

    @media (min-width: $layout-s) {
        font-size: $font-35;
    }
}

.Newsletter-input {
    width: 100%;
    margin: 0 auto;
    padding: 7px 0;

		border: 0;
		border-bottom: 1px solid;
    outline: 0;

		font-size: 11px;
		letter-spacing: 0.05em;

		background: transparent;
		color: white;

    @media (min-width: $layout-m) {
        width: 70%;//49%;
    }

}

.Newsletter-submit {
  display: block !important;
	width: 50%;
  margin: 15px auto 0;

	border: 1px solid white;
	background-color: transparent;

  @media (min-width: $layout-m) {
      width: 70%;
  }
}
