/**
 * Pagination
 */

.Pagination {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-top: 40px;

	p {
		margin-bottom: 0;
	}

	a {
		@extend .Button--outline;

	}
}

.Pagination-item {
    display: inline-block;
    margin: 0 5px;


	span {
		margin: 0 5px;
	}
}
