/**
 * Pagination
 */

.Pagination {
	display: block;
	width: 100%;

	text-align: center;
	font-size: 12px;

	clear: both;

	p {
		margin-bottom: 0;
	}

	a {
		@extend .Button--outline;
		display: inline-block;
		margin: rem(20) auto;
	}
}

.Pagination-item {
    display: inline-block;
    margin: 0 rem(5);


	span {
		margin: 0 5px;
	}
}
