/**
 * Pagination
 */

.Pagination {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-top: 40px;

	p {
		margin-bottom: 0;
	}

	a {
		padding-bottom: 2px;
		border-bottom: 2px solid;
		line-height: 15px;
		font-style: italic;

		&:hover {
			color: $yellow;
		}

		&:nth-of-type(2) {
			&:before {
				content: '/';
				padding: 10px;
				color: #000000 !important;
			}
		}

	}
}

.Pagination-item {
    display: inline-block;
    margin: 0 5px;


	span {
		margin: 0 5px;
	}
}
