/**
 * Pinterest
 */

.pinterest-anchor {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index:42;

    opacity: 0;
    background: rgba($white, 0.25);
    transition: all 350ms $easing;

    .icon {
    	margin: 10px;
    }

    &:hover {
        opacity: 1;
    }
}
