/**
 * Recent Posts
 */

.RecentPosts {
	width: 90%;
	margin: 0 auto rem(20);
	text-align: center;

	@media (min-width: $layout-m) {
		margin: 0 auto rem(40);
		border: 0;
	}

	ul:hover {
		.RecentPosts-item a {
			opacity: 0.2;
		}
	}
}

.RecentPosts-item {
	// @extend %font-playfair-italic;
	display: block;
	margin-bottom: 5px;

	letter-spacing: 0.1em;
	font-size: $font-12;


	a {
		color: white;
		transition: all 0.2s ease-in-out;
	}

	&:hover a {
		opacity: 1!important;
	}
}
