 /**
 * Title
 */

.Title {
	font-size: $font-20;
	@media (min-width: $layout-sm) {
		font-size: $font-30;
	}
}

.Title--small {
	@extend %font-sans-serif-bold;
	font-size: 1em;
}

.Title--big {
	@extend %font-sans-serif-bold;
	text-transform: uppercase;
}
