 /**
 * Base
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wpadminbar {
	display: none!important;
}

html {
	@extend %font-sans-serif;
	font-weight: 300;

	// @include negative-text;
	line-height: $base-line-height-unitless;
	background-color: $bg-color;
	color: $text-color;
	color: $black;

	// Enable kerning and ligatures everywhere
	// to use open-type features, bower install normalize-opentype
	text-rendering: optimizeLegibility;

	margin-top: 0!important;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 14px;
	line-height: 19px;

	@media (min-width: $layout-m) {
		font-size: $base-font-size;
		line-height: 22px;
	}
	@media (min-width: $layout-xl) {
		font-size: $base-font-size + 2;
		line-height: 22px;
	}
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
figure,
time {
	margin: 0 0 rem($space);
}

button {
	cursor: pointer;
}

h1 {
	@include h1;
	margin-bottom: rem($space*2);
}
h2 {
	@include h2;
}
h3 {
	@include h3;
}

p {
	@include text;
	line-height: 22px;
	@media (min-width: 980px) {
		line-height: 24px;
	}
}

strong,
b {
	@extend %font-sans-serif-bold;
}

// Links
a,
a:visited {
	color: $black;
	text-decoration: none;
	transition: all 150ms ease-in-out;

	&:hover,
	&:active,
	&.is-active {
		// color: $white;
		cursor: pointer;
	}
}

// need to check!!

select option:active,
select option:focus,
select option:checked,
select option:hover {
	background: none!important;
	background-color: transparent!important;
	border-bottom: 2px solid $color-primary;
	color: $color-primary;
}

iframe,
img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	padding: 0;
	list-style-type: none;
}


textarea,
select,
input {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

	border-radius: 0;
	&:focus {
		outline: 0 !important;

	}
}

::selection {
  background: $color-primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-primary; /* Gecko Browsers */
}
