/**
 * Icons
 */

$icon-size: 20px;

// targets all classes that include "icon-"
[class^="icon-"],
[class*=" icon-"] {

	// give the icons a dimension
	display: inline-block;
	font-size: $icon-size;
	height: 1em;
	width: 1em;

	// scale the background svg/png to fit
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;

	// inherit any colors
	fill: currentColor;

	// transition
	transition: opacity 150ms;
}

.Icon {
	display: inline-block;
	margin-right: rem(13);
	margin-left: rem(13);
	margin-bottom: rem(25);
}

/* ICOMOON */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arrow-right {
  width: 0.53515625em;
}

.icon-clock-arrow {
  width: 0.9736328125em;
}

.icon-arrow {
	display: inline-block;
	vertical-align: middle;
	width: rem(10);
	height: rem(11);
}

.icon-clock-arrow,
.icon-clock-dashed {
	background-size: contain;
}

.icon-pinterest,
.icon-instagram {
	height: 100%;
	width: rem(14);
}
