/**
 * Typography
 */

$font-12: rem(12);
$font-14: rem(14);
$font-15: rem(15);
$font-16: rem(16);
$font-17: rem(17);
$font-20: rem(20);
$font-25: rem(25);
$font-30: rem(30);
$font-35: rem(35);
$font-40: rem(40);
$font-50: rem(50);
$font-70: rem(60);

// @font-face {
// 	font-family: 'GT Haptik';
// 	src: url('fonts/gt-haptik/gt-haptik-light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// }

%font-light {
	font-family: 'Open Sans', sans-serif; font-weight: 300;
}

%font-copy {
	font-family: 'Playfair Display', serif; font-weight: 400;
}

// not in use yet
%font-copy-italic {
	font-family: 'Playfair Display', sans-serif; font-weight: 400; font-style: italic;
}

%font-bold {
	font-family: 'Open Sans', sans-serif; font-weight: 400;
}

%font-black {
	font-family: 'Open Sans', sans-serif; font-weight: 600;
}


// Headers
@mixin h1 {
	@extend %font-copy;
	line-height: 1.1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: $font-35;
	@media (min-width: $layout-s) {
		font-size: $font-40;
	}
	@media (min-width: $layout-m) {
		font-size: $font-50;
	}
	@media (min-width: $layout-l) {
		font-size: $font-70;
	}
}
@mixin h2 {
	@extend %font-copy;
	font-size: $font-25;
	line-height: 1.1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	@media (min-width: $layout-m) {
		font-size: rem(26);
	}
}
@mixin h3 {
	// basically the same as a normal <p><strong combo
	@extend %font-bold;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 1rem;
}

@mixin text {
	font-size: $font-14;

	@media (min-width: $layout-ml) {
		font-size: $base-font-size;
	}
}

blockquote {
	em {
		border-bottom: 4px solid;
	}

	p + p {
		margin-top: rem(8);
	}
}
